.divArenaTitre{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.h2Arena{
    font-weight: 300;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--clr-dark);
}

.divStatut {
    padding: 2px 15px;
    border-radius: 8px;
    text-transform: uppercase;
    color: white;
}

canvas {
    background-color: #fff;
    border: 1px solid black;
}

.divStatut.open {
    background-color: var(--clr-green);
}


.divStatut.close {
    background-color: var(--clr-hostile);
}

.divStatut span{
    color: white;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
}

.p-choose{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.p-choose span{
    font-weight: 500;
}

#form-spawn {
    display: flex;
    flex-direction: column;
    display: grid;
    gap: 16px;
}

#form-spawn > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 23px;
}

#form-spawn > div label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    gap: 8px;
}

#form-spawn > div label p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

label input{
    width: 100%;
    border: none;
    background-color: white;
}

.div-btn-spawn button{
    padding: 12px 50px;
    border-radius: 999999999999px;
    border: none;
    background-color: var(--clr-green);
    color: white;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
}

h3{
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    color: var(--clr-dark);
}

.hr{
    background-color: #3A3A3A;
}


table {
    border-collapse: collapse;
    background-color: white;
    border: 1px solid #ccc;
}

thead {
    background-color: #d1d5d8;
}

th, td {
    padding: 10px;
}

.delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #d32f2f;
}

.entity {
    font-weight: bold;
}

tr {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

thead tr th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

tr > td > * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: none;
    max-width: 100%;
    display: block;
}


td, th {
    text-align: center;
    font-size: 16px;
        overflow: hidden;
    text-overflow: ellipsis;
    white-space: none;
}

td {
    display: flex;
    justify-content: center;
}

td img, th img {
    height: 28px;
    margin-left: auto;
    margin-right: auto;
}

